# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site title and description
title:              Ledger Developer Pages
description:        Integrating with Ledger Live
lang:               en

# Permalink URLs structure, for permalink style options see: https://jekyllrb.com/docs/permalinks/
permalink:          /:title/

# Site logo # e.g. logo.png, upload logo image file to /uploads/ folder
logo:               favicon.png  # FC 2021-06-01 1216 ***

navbar:
    sticky:         true
    search:         true

# Social icons displayed in footer
social:
    github:         https://github.com/LedgerHQ
    reddit:         https://www.reddit.com/r/ledgerwallet/
    twitter:        https://twitter.com/Ledger
    youtube:        https://youtube.com/Ledger
    instagram:      https://www.instagram.com/ledger
    facebook:       https://www.facebook.com/Ledger
    linkedin:       https://fr.linkedin.com/company/ledgerhq

    email:
    website:        # https://ledger.com/
    flickr:
    dribbble:
    googleplus:
    pinterest:
    vimeo:

# Share button
share:
    post:           true # Display share buttons on a post page
    doc:            true # Display share buttons on a doc page
    twitter:        username # Enable by adding Twitter handle
    facebook:       true # Enable by setting true (Facebook handle not required)

# Default footer image settings
footer:
    copyright:      Made by <a href="https://ledger.com/">Ledger</a> France

# Disqus comments shortname, requires Disqus account https://disqus.com/
disqus:
    shortname:      # 1234

# Google analytics code, get your code here https://www.google.com/analytics/
google_analytics:

# Path to post content assets directory i.e post images, pdfs etc
uploads:            /uploads/

# Build settings
markdown:           kramdown
highlighter:        rouge

kramdown:
  syntax_highlighter: rouge
sass:
  style: :expanded

plugins:
  - jekyll-environment-variables
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-gist
  - jekyll-avatar
  - jekyll-toc
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules

sass:
  style:            compressed

collections:
  docs:
    output:         true
  faqs:
    output:         false
  changelogs:
    output:         false

# Defaults
defaults:
  # _posts
  - scope:
      path:         ""
      type:         posts
    values:
      layout:       post
  # _docs
  - scope:
      path:         ""
      type:         docs
    values:
      layout:       doc

# Site subpath, e.g. /blog
# Site base hostname & protocol, e.g. http://example.com

baseurl:            ""
url:                http://developers.ledger.com # https://blog.ledger.com
