---
layout: page
title: Sitemap
width: medium
---

<div class="uk-child-width-expand@m uk-text-center" uk-grid>
    <div>
        <div class="uk-card uk-card-default uk-card-body sitemap">
          <h3>Nano App</h3>
          {% for section in site.data.navigation_docs_na %}
            <h4>{{ section.title }}</h4>
            {% if section.subfolderitems %}
              {% for subsection in section.subfolderitems %}
                  <h5>{{ subsection.title }}</h5>
                  {% for doc in subsection.docs %}
                  {% assign doc_url = doc | prepend:"/docs/" | append:"/" %}
                  {% assign doc_content = site.docs | where:"url", doc_url | first %}
                    <a href="..{{ doc_url }}">{{ doc_content.title }}</a><br>
                  {% endfor %}
              {% endfor %}

            {% else %}

            {% for doc in section.docs %}
              {% assign doc_url = doc | prepend:"/docs/" | append:"/" %}
              {% assign doc_content = site.docs | where:"url", doc_url | first %}
                <a href="..{{ doc_url }}">{{ doc_content.title }}</a><br>
            {% endfor %}

            {% endif %}
          {%  endfor %}
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body sitemap">
          <h3>Connect your app</h3>
          {% for section in site.data.navigation_docs_tr %}
            <h4>{{ section.title }}</h4>

            {% if section.subfolderitems %}
              {% for subsection in section.subfolderitems %}
                  <h5>{{ subsection.title }}</h5>
                  {% for doc in subsection.docs %}
                  {% assign doc_url = doc | prepend:"/docs/" | append:"/" %}
                  {% assign doc_content = site.docs | where:"url", doc_url | first %}
                    <a href="..{{ doc_url }}">{{ doc_content.title }}</a><br>
                  {% endfor %}
              {% endfor %}

            {% else %}

            {% for doc in section.docs %}
              {% assign doc_url = doc | prepend:"/docs/" | append:"/" %}
              {% assign doc_content = site.docs | where:"url", doc_url | first %}
                <a href="..{{ doc_url }}">{{ doc_content.title }}</a><br>
            {% endfor %}

            {% endif %}
          {%  endfor %}

          <h3>Tokens</h3>
          {% for section in site.data.navigation_docs_et %}
            <h4>{{ section.title }}</h4>

            {% if section.subfolderitems %}
              {% for subsection in section.subfolderitems %}
                  <h5>{{ subsection.title }}</h5>
                  {% for doc in subsection.docs %}
                  {% assign doc_url = doc | prepend:"/docs/" | append:"/" %}
                  {% assign doc_content = site.docs | where:"url", doc_url | first %}
                    <a href="..{{ doc_url }}">{{ doc_content.title }}</a><br>
                  {% endfor %}
              {% endfor %}

            {% else %}

            {% for doc in section.docs %}
              {% assign doc_url = doc | prepend:"/docs/" | append:"/" %}
              {% assign doc_content = site.docs | where:"url", doc_url | first %}
                <a href="..{{ doc_url }}">{{ doc_content.title }}</a><br>
            {% endfor %}

            {% endif %}
          {%  endfor %}

          <h3>DApps</h3>
          {% for section in site.data.navigation_docs_da %}
            <h4>{{ section.title }}</h4>

            {% if section.subfolderitems %}
              {% for subsection in section.subfolderitems %}
                  <h5>{{ subsection.title }}</h5>
                  {% for doc in subsection.docs %}
                  {% assign doc_url = doc | prepend:"/docs/" | append:"/" %}
                  {% assign doc_content = site.docs | where:"url", doc_url | first %}
                    {% if doc_content.title %}
                    <a href="..{{ doc_url }}">{{ doc_content.title }}</a><br>
                    {% else %}
                      {% for section in doc.subfolderitems %}
                          <li>{{ section.title }}</li>
                          <ul class="uk-nav-default doc-nav">
                            {% for doc in section.docs %}
                            {% assign doc_url = doc | prepend:"/docs/" | append:"/" %}
                            {% assign p = site.docs | where:"url", doc_url | first %}
                            <li><a href="{{ p.url | relative_url }}">{{ p.title }}</a></li>
                            {% endfor %}
                          </ul>
                      {% endfor %}
                    {% endif %}
                  {% endfor %}
              {% endfor %}

            {% else %}

            {% for doc in section.docs %}
              {% assign doc_url = doc | prepend:"/docs/" | append:"/" %}
              {% assign doc_content = site.docs | where:"url", doc_url | first %}
                <a href="..{{ doc_url }}">{{ doc_content.title }}</a><br>
            {% endfor %}

            {% endif %}
          {%  endfor %}
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body sitemap">
          <h3>Blockchain Support</h3>
          {% for section in site.data.navigation_docs_ci %}
            <h4>{{ section.title }}</h4>

            {% for doc in section.docs %}
              {% assign doc_url = doc | prepend:"/docs/" | append:"/" %}
              {% assign doc_content = site.docs | where:"url", doc_url | first %}
                <a href="..{{ doc_url }}">{{ doc_content.title }}</a><br>
            {% endfor %}

            {% if section.subfolderitems %}
              {% for subsection in section.subfolderitems %}
                  <h5>{{ subsection.title }}</h5>
                  {% for doc in subsection.docs %}
                  {% assign doc_url = doc | prepend:"/docs/" | append:"/" %}
                  {% assign doc_content = site.docs | where:"url", doc_url | first %}
                    <a href="..{{ doc_url }}">{{ doc_content.title }}</a><br>
                  {% endfor %}
              {% endfor %}
            {% endif %}
          {%  endfor %}

          <h3>Non-DApps</h3>
          {% for section in site.data.navigation_docs_pa %}
            <h4>{{ section.title }}</h4>

            {% if section.subfolderitems %}
              {% for subsection in section.subfolderitems %}
                  <h5>{{ subsection.title }}</h5>
                  {% for doc in subsection.docs %}
                  {% assign doc_url = doc | prepend:"/docs/" | append:"/" %}
                  {% assign doc_content = site.docs | where:"url", doc_url | first %}
                    {% if doc_content.title %}
                    <a href="..{{ doc_url }}">{{ doc_content.title }}</a><br>
                    {% else %}
                      {% for section in doc.subfolderitems %}
                          <li>{{ section.title }}</li>
                          <ul class="uk-nav-default doc-nav">
                            {% for doc in section.docs %}
                            {% assign doc_url = doc | prepend:"/docs/" | append:"/" %}
                            {% assign p = site.docs | where:"url", doc_url | first %}
                            <li><a href="{{ p.url | relative_url }}">{{ p.title }}</a></li>
                            {% endfor %}
                          </ul>
                      {% endfor %}
                    {% endif %}
                  {% endfor %}
              {% endfor %}

            {% else %}

            {% for doc in section.docs %}
              {% assign doc_url = doc | prepend:"/docs/" | append:"/" %}
              {% assign doc_content = site.docs | where:"url", doc_url | first %}
                <a href="..{{ doc_url }}">{{ doc_content.title }}</a><br>
            {% endfor %}

            {% endif %}
          {%  endfor %}
        </div>
    </div>
</div>



