// Docs Theme Mixins
// ========================================================================

@mixin hook-base-body(){
    //filter: blur(7px);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

@mixin hook-base-misc(){
    input[type="submit" i]{
        -webkit-appearance:none;
    }
    .link-primary a:not(.lightbox):not(.uk-inline):not(.uk-link-muted):not(.uk-slidenav) {
        transition: all 100ms cubic-bezier(0.4, 0, 0.2, 1);
// V2   border-bottom: 1px solid $global-primary-background;
// V2   color: $global-primary-background;
        border-bottom: 1px solid $safety-orange; // Added by CF for V3 31.08.2021
        color: $safety-orange; // Added by CF for V3 31.08.2021
    }

    .link-primary a:not(.lightbox):not(.uk-inline):not(.uk-link-muted):not(.uk-slidenav):hover {
// V2   border-bottom-color: lighten($global-primary-background, 25%);
        border-bottom-color: lighten($safety-orange, 25%); // Added by CF for V3 31.08.2021
        text-decoration: none;
    }

    .link-secondary a:not(.lightbox):not(.uk-inline):not(.uk-link-muted):not(.uk-slidenav):hover {
        border-bottom: 1px solid $global-color;
        text-decoration: none;
    }
}

@mixin hook-navbar(){
    font-weight: 500;
    .uk-drop {
        width: 360px;
    }
    .uk-search-navbar .uk-search-input {
        height: 50px;
        font-size: 1.0625rem;
        padding-left: 1.1875rem;
        background: #fff;
    }
}

@mixin hook-navbar-misc(){
    .uk-navbar-item .uk-button {
        padding: 0 22px;
        line-height: 34px;
    }
    // Fix for UIkit left and right first & last items
    .uk-navbar-container > .uk-container {
        .uk-navbar-left {
            // margin-left: -$navbar-nav-item-padding-horizontal;
            margin-left: auto; // Added for v3
            margin-right: auto; // Added for v3
        }
        .uk-navbar-right {
            margin-right: -$navbar-nav-item-padding-horizontal;
        }
    }
}

@mixin hook-logo(){
    font-weight: 700;
}

@mixin hook-button(){
// Removed for V3: border-radius: 4px; //FC 2021-06-01 1128 eg Send button radius
}

@mixin hook-button-misc(){
    // Warning
    .uk-button-warning {
        background-color: $button-warning-background;
        color: $button-primary-color;
        border: 1px solid transparent;
    }

    .uk-button-warning:hover,
    .uk-button-warning:focus {
        background-color: $button-warning-hover-background;
        color: $button-primary-color;
    }

    .uk-button-warning:active,
    .uk-button-warning.uk-active {
        background-color: $button-warning-hover-background;
        color: $button-primary-color;
    }

    // Success
    .uk-button-success {
        background-color: $button-success-background;
        color: $button-primary-color;
        border: 1px solid transparent;
    }

    .uk-button-success:hover,
    .uk-button-success:focus {
        background-color: $button-success-hover-background;
        color: $button-primary-hover-color;
    }

    .uk-button-success:active,
    .uk-button-success.uk-active {
        background-color: $button-success-hover-background;
        color: $button-primary-active-color;
    }

    // Primary outline
    .uk-button-primary-outline {
        background-color: $button-default-background;
        color: $button-primary-background;
        border: $button-border-width solid $button-primary-background;
    }

    .uk-button-primary-outline:hover,
    .uk-button-primary-outline:focus {
        background-color: $button-primary-background;
        color: $button-primary-hover-color;
        border: $button-border-width solid $button-primary-background;
    }

    .uk-button-primary-outline:active,
    .uk-button-primary-outline.uk-active {
        background-color: $button-primary-background;
        color: $button-primary-active-color;
        border: $button-border-width solid $button-primary-background;
    }

    // Danger outline
    .uk-button-danger-outline {
        background-color: $button-default-background;
        color: $button-danger-background;
        border: $button-border-width solid $button-danger-background;
    }

    .uk-button-danger-outline:hover,
    .uk-button-danger-outline:focus {
        background-color: $button-danger-background;
        color: $button-danger-hover-color;
        border: $button-border-width solid $button-danger-background;
    }

    .uk-button-danger-outline:active,
    .uk-button-danger-outline.uk-active {
        background-color: $button-danger-background;
        color: $button-danger-active-color;
        border: $button-border-width solid $button-danger-background;
    }

    // Success outline
    .uk-button-success-outline {
        background-color: $button-default-background;
        color: $button-success-background;
        border: $button-border-width solid $button-success-background;
    }

    .uk-button-success-outline:hover,
    .uk-button-success-outline:focus {
        background-color: $button-success-background;
        color: $button-primary-hover-color;
        border: $button-border-width solid $button-success-background;
    }

    .uk-button-success-outline:active,
    .uk-button-success-outline.uk-active {
        background-color: $button-success-background;
        color: $button-primary-hover-color;
        border: $button-border-width solid $button-success-background;
    }

    // Warning outline
    .uk-button-warning-outline {
        background-color: $button-default-background;
        color: $button-warning-background;
        border: $button-border-width solid $button-warning-background;
    }

    .uk-button-warning-outline:hover,
    .uk-button-warning-outline:focus {
        background-color: $button-warning-background;
        color: $button-primary-hover-color;
        border: $button-border-width solid $button-warning-background;
    }

    .uk-button-warning-outline:active,
    .uk-button-warning-outline.uk-active {
        background-color: $button-warning-background;
        color: $button-primary-active-color;
        border: $button-border-width solid $button-warning-background;
    }

}

@mixin hook-alert(){
// Removed for V3 : border-radius: $border-rounded-border-radius;
}

@mixin hook-alert-misc(){

    .uk-alert h1,
    .uk-alert h2,
    .uk-alert h3,
    .uk-alert h4,
    .uk-alert h5,
    .uk-alert h6 { color: inherit; }

    .uk-alert a:not([class]) {
        color: inherit !important;
        border-bottom-color: inherit !important;
    }

    .uk-alert a:not([class]):hover {
        color: inherit !important;
        border-bottom-color: inherit !important;
    }
}

@mixin hook-card-body(){
    > p {
        font-size: $global-small-font-size;
    }
    > span {
        // Removed for V3: color: $global-primary-background;
        color: $global-color; // Added by CF for V3 (color of the icon on the home page)
    }
}

@mixin hook-card-misc(){
    .uk-position-cover {
        z-index: 1;
    }
    .card-category {
        h3:nth-child(2n) {
            margin-top: 0 !important;
        }
    }
    .card-post {
        .uk-card-header{
            padding-top: $global-medium-margin;
            padding-bottom: 0;
            border-bottom: none;
            .avatar {
                width: 40px;
            }
        }
        .uk-card-body{
            padding-top: $global-medium-margin / 2;
            padding-bottom: $global-medium-margin / 2;
        }
        .uk-card-footer{
            padding-bottom: $global-medium-margin * 0.9;
            padding-top: 0;
            border-top: none;
        }
    }
}

@mixin hook-form(){
    border: solid 1px $global-border;
}

@mixin hook-offcanvas-bar(){
    font-weight: 500;
}

@mixin hook-list-misc(){
    .uk-list {
        margin: 0;
    }
}

@mixin hook-article-title(){
    margin-bottom: $global-margin;
}

@mixin hook-article-meta(){
    a {
        color: $article-meta-color;
        &:hover {
            color: $global-primary-background;
        }
    }
    .avatar {
        margin-right: 15px;
        max-width: 36px;
    }
}

@mixin hook-article-misc(){
    .article-content {
        line-height: 1.8;

        figure img, .uk-slideshow-items {
            border: solid 1px $border-xlight;
            box-shadow: $global-medium-box-shadow;
            border-radius: $border-radius-small;
        }
        figure {
            img + div .uk-overlay-icon {
                color: rgba(255, 255, 255, 0);
            }
            img:hover + div .uk-overlay-icon {
                color: rgba(255, 255, 255, 1);
            }
            figcaption {
                margin-left: 0;
                span {
                    padding-right: 20px;
                    margin-bottom: -43px;
                    margin-top: 20px;
                    border-right: solid 2px $global-muted-color;
                    font-style: italic;
                    font-size: 0.8rem;
                    line-height: 1.8;
                }
            }
        }
        blockquote {
            border-left: solid 2px $global-muted-color;
            padding-left: $base-margin-vertical;
            line-height: 1.7;
        }

        figure, .uk-slideshow {
            margin-top: $global-medium-margin;
            margin-bottom: $global-medium-margin;
        }

        figure figcaption {
            margin-bottom: $global-medium-margin * 1.8;
        }

        ul:not(#markdown-toc):not(#markdown-toc ul):not(.uk-slideshow-items),
        .uk-alert {
            margin-bottom: $global-medium-margin;
        }

        table {
            margin-top: $global-medium-margin * .7;
            margin-bottom: $global-medium-margin;
        }

        pre,
        blockquote {
            // margin-top: $global-medium-margin * .7; Removed by CF for V3 16.09.2021
            margin-bottom: $global-medium-margin;
        }

    }
    .avatar {
        border-radius: 50%;
    }
    .paginate-post .uk-text-small {
        line-height: 1.75;
    }
}

@mixin hook-table-misc() {
    table {
        table-layout: fixed; // Added by CF for V3 31.08.2021 (to fit with right sidebar-toc)
        font-size: $global-small-font-size;
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        margin-bottom: $global-medium-margin;
        >tr:not(:first-child), >:not(:first-child)>tr, >:first-child>tr:not(:first-child) {
            border-top: 1px solid $table-divider-border;
        }
        tbody tr {
            transition: background-color .1s linear;
        }
        th, td {
            padding: 5px 12px; // Modified by CF 01/02/2022
        }
        td {
            vertical-align: top;
            overflow: scroll; // Added by CF for V3 31.08.2021 (to fit with right sidebar-toc)
        }
        th {
            text-align: left;
            vertical-align: bottom;
        }
        th:first-child, td:first-child {
            padding-left: 0;
        }
        th:last-child, td:last-child {
            padding-right: 0;
        }
    }
}

@mixin hook-label(){
    font-weight: 500;
    border-radius: $label-border-radius;
}

@mixin hook-navbar-sticky(){
    border-bottom: solid 1px $border-xlight;
}
@mixin hook-accordion-title(){

    overflow: hidden;
    border: solid 1px $border-light;
    border-radius: $border-radius-small;
    padding: 20px;
    font-weight: 500;

    &::after {
        content: "";
        width: ($accordion-title-line-height * 1em);
        height: ($accordion-title-line-height * 1em);
        float: right;
        @include svg-fill($internal-accordion-close-image, "#000", $accordion-icon-color);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-color: $accordion-icon-background-color;
        border-radius: 20px;
    }

    .uk-open > &::after { @include svg-fill($internal-accordion-open-image, "#000", $accordion-icon-color); }

}

@mixin hook-accordion-content(){
    padding: 20px;
}

@mixin hook-utility-misc(){
    .border-xlight {
        border: solid 1px $border-xlight;
    }
    .border-light {
        border: solid 1px $border-light;
    }
    .border {
        border: solid 1px $global-border;
    }
    .border-radius-medium {
        border-radius: $border-radius-medium;
    }
    .border-radius-large {
        border-radius: $border-radius-large;
    }
    .remove-underline, .remove-underline:hover{
        text-decoration: none;
        color: $safety-orange;
    }
    .uk-container.uk-container-xsmall {
        max-width: 700px;
    }
    .hvr-forward {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px transparent;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform;
        transition-property: transform;
    }
    .hvr-forward:active,
    .hvr-forward:focus,
    .hvr-forward:hover {
        -webkit-transform: translateX(6px);
        transform: translateX(6px);
    }

    .hvr-back {
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px transparent;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: transform;
      transition-property: transform;
    }

    .hvr-back:hover,
    .hvr-back:focus,
    .hvr-back:active {
      -webkit-transform: translateX(-6px);
      transform: translateX(-6px);
    }

    .social-networks {
        margin-top: $global-large-margin;
    }

    .container-xxsmall {
        max-width: $container-xxsmall;
    }

    .sidebar-fixed-width {
        padding-left: 10px; // Modified by CF for V3 31.08.2021
        width: $docs-sidebar-width;
    }
    .sidebar-docs {
        width: $docs-sidebar-width; // Modified by CF for V3 31.08.2021
        line-height: 1.1; // Modified by CF for V3 31.08.2021
        top: 112px;
        bottom: 70px;
        overflow-y: scroll;
        overflow-x: hidden;
        border-bottom: 1px solid black;
        > h5 {
            margin: 15px 0 0;
            &:first-child {
                margin-top: 17px
            }
        }
    }
    /* FC toc 2021-04-09, 19:14:27 ========================================= */
    .sidebar__right {
        margin-bottom: 1em;

          position: sticky !important; /* added to make toc scroll with page */
          float: right !important; /* added to make toc scroll with page */
          top: 0;
          right: 0;
          width: $right-sidebar-width-narrow;
          margin-right: -1 * $right-sidebar-width-narrow;
          padding-left: 1em;
          padding-top: 1em !important; /* added to make toc scroll with page */
          z-index: 10;
    }

    // @media (min-width: $breakpoint-large) {
    //     .sidebar-fixed-width {
    //         width: $docs-sidebar-width-l;
    //     }
    //     .sidebar-docs {
    //         width: $docs-sidebar-width-l - $global-large-gutter;
    //         padding-right: $global-large-gutter;
    //     }
    // }

    // Right TOC Sidebar added by CF for V3
   .sidebar-toc {
      top: 95px;
      width:250px;
      // background: white;
      border-left: solid 1px black;
      margin-left: 35px;
      padding-top:20px;
      padding-right: 10px;
      text-decoration: none;
      > ul {padding-left: 20px;}
      > ul li {list-style: none;}
      > li {padding-left: 20px;} // added because of display bug on "coin/general-process"
      > li ul li {list-style: none;} // added because of display bug on "coin/general-process"
      > h5 {padding-left: 20px; color:$global-color;}
      max-height: 500px;
      overflow: scroll;

    }

    .sidebar-sticky {
      position: fixed;
    }

    .sidebar-toc a {
      border-bottom: none !important;
    }

    .sidebar-toc a.active {
      font-weight: bold;
      background-color: lighten( $safety-orange, 45% );
    }


    .content-toc {
      border-left: solid 2px #d9dde0;
      font-size: 16px;
      width:300px;
      padding-top:20px;
      padding-right:18px;
      > ul li {list-style: none;}
    }

    // Toc in mobile display
    .mobile-sections h5 {
      margin-top: 50px;
    }

    // To center images
    .center{
    text-align: center;
    }

    // svg icon for alerts
    .svg-icon {
      display: inline-block;
      width: 1em;
      height: 1em;
      fill: currentColor;
      margin-bottom: 2.5px;
      margin-right: -10px;
    }

    // Suggestion links at end of doc pages 
    .suggestion {
        font-weight: bold;
        font-size: 12px;
    }

    .suggestion a {
        color: $safety-orange;
    }

    // Quick links Nano landing page
    .quick-links a {
        color: $safety-orange;
    }

    .quick-links ul {
        list-style-type: none;
    }

    // Icons on the home-page
    .icon-home{
      color: $global-color;
    }

    .transports-legend {
        display: flex;
        justify-content: center;
        a {
          text-align:center;
          border-radius:3px;
          padding: 5px 10px;
          margin-right: 10px;
          border-bottom: none !important;
          color: white !important;
          &:hover {
            font-weight: bold;
          }
        }
      }

     // Algolia Instant Search
     .modal-content{
        padding: 20px;
     } 

     #search-searchbar {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 30px;
        padding-top: 25px;
        font-family:$body-font-family;
     }

    .search-icon {
        color: $safety-orange;
    }

    .search-icon :hover {
        color: black ;
    }

    .post-item {
        border-bottom: black solid 2px;
    }

    .post-item h3 {
        margin-top: 50px;
        margin-bottom: 2px;
    }

    .post-item h3 :hover {
        color: $safety-orange;
    }

    .post-breadcrumbs {
        font-weight: bold;
        text-decoration: underline;
        &:hover {
            color: $safety-orange;
        }
    }

    .ais-Highlight {
        font-weight: bold;
    }

    // Typeform
    .typeform-widget {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    // Legal text
    .legal-notice{
      font-size:10px;
      font-weight:bold;
      a{color:$global-color !important; border-bottom: 1px solid $global-color !important }
    }

    // Anchors next to titles to facilitate copy/pasting links

    .anchorjs-link {
      color: inherit !important;
      text-decoration: none !important; /* do not underline */
      border-bottom: none !important;
      opacity: 0;
    }

    // Lightbox to zoom on pictures

    #lightbox {width: 100%; height: 100%; position: fixed; top: 0; left: 0; background: rgba(0,0,0,0.85); z-index: 9999999; line-height: 0; cursor: pointer; display: none;}
    #lightbox .img {
        position: relative; 
        top: 50%;
        left: 50%;
        -ms-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        max-width: 100%;
        max-height: 100%;
    }
    #lightbox .img img {opacity: 0; pointer-events: none; width: auto;}
    @media screen and (min-width: 1200px) {
        #lightbox .img {
            max-width: 1200px;
        }
    }
    @media screen and (min-height: 1200px) {
        #lightbox .img {
            max-height: 1200px;
        }
    }
    #lightbox span {display: block; position: fixed; bottom: 13px; height: 1.5em; line-height: 1.4em; width: 100%; text-align: center; color: white; text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;  
    }

    #lightbox span {display: none;}

    #lightbox .videoWrapperContainer {
        position: relative; 
        top: 50%;
        left: 50%;
        -ms-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        max-width: 900px;
        max-height: 100%;
    }
    #lightbox .videoWrapperContainer .videoWrapper {
        height: 0;
        line-height: 0;
        margin: 0;
        padding: 0;
        position: relative;
        padding-bottom: 56.333%; /* custom */
        background: black;
    } 
    #lightbox .videoWrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
        display: block;
    }   
    #lightbox #prev, #lightbox #next {height: 50px; line-height: 36px; display: none; margin-top: -25px; position: fixed; top: 50%; padding: 0 15px; cursor: pointer; text-decoration: none; z-index: 99; color: white; font-size: 60px;}
    #lightbox.gallery #prev, #lightbox.gallery #next {display: block;}
    #lightbox #prev {left: 0;}
    #lightbox #next {right: 0;}
    #lightbox #close {height: 50px; width: 50px; position: fixed; cursor: pointer; text-decoration: none; z-index: 99; right: 0; top: 0;}
    #lightbox #close:after, #lightbox #close:before {position: absolute; margin-top: 22px; margin-left: 14px; content: ""; height: 3px; background: white; width: 23px;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    /* Safari */
    -webkit-transform: rotate(-45deg);
    /* Firefox */
    -moz-transform: rotate(-45deg);
    /* IE */
    -ms-transform: rotate(-45deg);
    /* Opera */
    -o-transform: rotate(-45deg);
    }
    #lightbox #close:after {
    /* Safari */
    -webkit-transform: rotate(45deg);
    /* Firefox */
    -moz-transform: rotate(45deg);
    /* IE */
    -ms-transform: rotate(45deg);
    /* Opera */
    -o-transform: rotate(45deg);
    }
    #lightbox, #lightbox * {
        -webkit-user-select: none;  
        -moz-user-select: none;    
        -ms-user-select: none;      
        user-select: none;
    }

    // Top Header 

    .top-header {
        height: 20px;
        border-bottom: 1px solid black;
        background-color: black;
        display: flex;
        justify-content: space-between;
    }

    .top-header-button {
        padding: 0 18px;
        font-family: $global-font-family;
        font-size: 12px;
        color: white;
        &:hover {
            color: $safety-orange;
        }
    }

    // Commment box at the bottom of all pages

    .comment-box {
        width: 95%;
        height: 50px;
        font-family: $global-font-family;
        border: 2px solid #000;
        border-radius: none;
        float: left;
        padding: 12px 20px;
    }

    .comment-disclaimer {
        font-weight: bold;
        font-size: 12px;
    }

    // Custom scrollbar

    ::-webkit-scrollbar {
      width: 20px;
    }

    ::-webkit-scrollbar-track {
      background-color: transparent;
    }

    ::-webkit-scrollbar-thumb {
      background-color: #d6dee1;
      //border-radius: 20px;
      border: 6px solid transparent;
      background-clip: content-box;
    }

    ::-webkit-scrollbar-thumb:hover {
      background-color: #a8bbbf;
    }

    // When a link is betwin code tags, so it's not orange on a black background, but we can still see it's a link
    code a {
      color: #f9f8f5 !important;
      border-bottom: 1px solid #f9f8f5 !important;
    }

    @media (max-width: 768px) {
      /* Do not display AnchorJS icon on less than 768px view point */
      .anchorjs-link {
        display: none;
      }
    }

    *:hover > .anchorjs-link {
      opacity: .75;
    }

    *:hover > .anchorjs-link:hover,
    .anchorjs-link:focus {
      text-decoration: none !important; /* do not underline */
      opacity: 1;
    }

    ul.doc-nav {
        padding-left: 14px;
        margin-top: 5px;
    }

    // Reading time

    .reading-time {
        font-weight: bold;
        font-size: 12px;
    }

    // Crypto api doc button

    .crypto-button {
        color: white !important;
    }

    .crypto-button:active {
        background-color: $safety-orange;
    }


    // Copy Code button

    pre.highlight {
        position: relative;
    }

    .copy {
        background-color: #272822;
        color: white;
        position: absolute;
        right: 0.5rem;
        top: 0.5rem;
        border: solid 1px white;
        font-size:12px;
        font-family: $global-font-family;
        padding: 5px;
    }

    pre.highlight > button {
      opacity: 0;
    }

    pre.highlight:hover > button {
      opacity: 1;
    }

    pre.highlight > button:active,
    pre.highlight > button:focus {
      opacity: 1;
    }

    // Style for sitemap

    .sitemap {
      text-align: start;
    }

    @media (max-width: $breakpoint-medium) {
        .sitemap {
          text-align: center;
        }
    }

    .sitemap h5{
      margin-top: 20px;
      margin-bottom: 10px;
    }

    .sitemap h4 {
      margin-top: 40px;
      margin-bottom: 10px;
    }

    // Style for mermaid

    .mermaid > svg > g > text {
        font-family: $body-font-family !important;
    }

    .mermaid > svg > g > rect.note {
        width: 160px !important;
        stroke: black !important;
        fill: #DCDCDC !important;
    }

    .mermaid > svg > g > rect.actor {
        stroke: #463A9E !important;
        fill: #d0cde7 !important;
    }

    // 

    .doc-nav > li.uk-active > a {
        position: relative;
        color: $safety-orange; // Added by CF 13.12.2021
        &:before {
            content: "";
            position: absolute;
            top: 13px; // Modified from 15 to 13 by CF for V3 01.09.2021 (small dash in front of active elements in left side bar)
            left: -14px;
            width: 7px;
            border-top: 2px solid $safety-orange; // Modified px and color by CF for V3 01.09.2021
        }
    }

    .hero-image {
        margin-top: -28px;
        margin-bottom: 30px;
        img {
            max-height: 250px; // Height of the top image on the Landing page 
        }
    }

    .uk-section {
        .uk-h1 {
            margin-bottom: 12px;
        }
        .uk-text-lead {
            margin: 0;
        }
    }

    .section-hero {
        z-index: 10;
        .hero-search {
            margin: 60px auto 0 auto;
            .uk-search-input {
                height: 80px;
                // Removed for V3 : border-radius: 50px;
                font-size: 1.25rem;
                font-style: normal;
                padding-left: 36px;
                &:focus {
                    background: #ffffff;
                }
            }
            .uk-search-icon {
                width: 70px;
                svg {
                    width: 31px;
                    height: auto;
                }
            }

        }
        .uk-text-lead {
            font-size: 1.25rem;
            color: #686c7b;
        }
    }

    @media (min-width: $breakpoint-small) {
        .section-videos {
            div[class^="uk-child-width-1-1"] {
                .uk-card {
                    padding-top: 70px;
                    padding-bottom: 70px;
                }
            }
        }
    }

    @media (min-width: $breakpoint-medium) {
        .section-videos {
            div[class^="uk-child-width-1-1"] {
                .uk-card {
                    padding-top: 110px;
                    padding-bottom: 110px;
                }
            }
        }
    }

    // FC 2021-06-03 2322
    @media (min-width: $breakpoint-small) {
        .section-repos {
            div[class^="uk-child-width-1-1"] {
                .uk-card {
                    padding-top: 50px; // 70
                    padding-bottom: 50px; //70
                }
            }
        }
    }

    // FC 2021-06-03 2322
    @media (min-width: $breakpoint-medium) {
        .section-repos {
            div[class^="uk-child-width-1-1"] {
                .uk-card {
                    padding-top: 70px; // 110
                    padding-bottom: 70px; // 110
                }
            }
          .uk-grid>* {
            padding-left: 15px;
            margin-top: 15px;
          }
          .uk-grid-match>*>:not([class*='uk-width']), .uk-grid-item-match>:not([class*='uk-width']) {
              padding-left: 15px;
              padding-right: 15px;
          }
        }
    }


.section-featured {
        .uk-accordion>:nth-child(n+2) {
            margin-top: 0;
        }

        a {
            display: block;
            font-size: $text-lead-font-size;
            overflow: hidden;
            border: solid 1px $border-light; //FC 2021-06-01 1119 to add a separator betw popular articles
            // Removed for V3 border-radius: $border-radius-small;
            padding: 20px;
            font-weight: 500;
            // Removed for V3: color: $global-primary-background;
            color: $global-color; // Added by CF for V3 01.09.2021

            &::after {
                content: "";
                width: ($accordion-title-line-height * 1em);
                height: ($accordion-title-line-height * 1em);
                float: right;
                @include svg-fill($featured-right-image, "#000", $accordion-icon-color);
                background-repeat: no-repeat;
                background-position: 50% 50%;
                border-radius: 20px;
            }

            &:hover {
                text-decoration: none;
                border: solid 1px #000000;
                // Removed for V3 color: $global-primary-background;
            }

        }
    }

    .section-team {
        .uk-slider-items {
            li {
                opacity: .7;
                &.uk-active {
                    opacity: 1;
                };
            }
        }
        .uk-grid > div {
            width: 128px;
        }
        .uk-card {
            img {
                max-width: 86px;
            }
        }
    }

    #markdown-toc {
        padding: 0 0 0 $global-margin;
        border-left: solid 2px #d9dde0;
        list-style: none;
        margin-bottom: $global-medium-margin;
        > li > :last-child {
            margin-bottom: 0;
        }
        ul {
            margin: 0;
            padding-left: $global-margin;
            list-style: none;
        }
        >li:nth-child(n+2), >li>ul {
            margin-top: 5px;
        }

    }
    .article-content .no_toc {
        margin-top: 0;
        margin-bottom: $global-margin;
    }

    #search-hero-results, #search-navbar-results {
        margin: 10px 0 0 0;
        box-shadow: $global-medium-box-shadow;
        border-radius: $border-radius-medium;
        background: #fff;
        li {
            margin: 0;
            line-height: 1.4;
            border-left: solid 1px $border-xlight;
            border-right: solid 1px $border-xlight;
            &:first-child {
                border-top-left-radius: $border-radius-medium;
                border-top-right-radius: $border-radius-medium;
                border-top: solid 1px $border-xlight;
            }
            &:last-child {
                border-bottom-left-radius: $border-radius-medium;
                border-bottom-right-radius: $border-radius-medium;
                border-bottom: solid 1px $border-xlight;
            }
            a {
                display: block;
                &:hover {
                    text-decoration: none;
                }

            }
        }
    }

    #search-hero-results {
        li {
            &:first-child {
                padding-top: 5px;
            }
            &:last-child {
                padding-bottom: 5px;
            }

            a {
                padding: 18px 36px;
            }
            &.no-results {
                padding: 18px 36px;
            }
        }
    }

    #search-navbar-results {
        li {
            &:first-child {
                padding-top: 2px;
            }
            &:last-child {
                padding-bottom: 2px;
            }
            a {
                padding: 14px 17px;
            }
            &.no-results {
                padding: 14px 17px;
            }
        }

    }

    @media (min-width: $breakpoint-small) {

        .tm-timeline {
            box-sizing: border-box;
            * {
                box-sizing: border-box;
            }
            position: relative;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: calc(30% - 2px);
                bottom: 0;
                width: $timeline-border-width;
                background: $safety-orange;
            }

            &:after {
                content: "";
                display: table;
                clear: both;
            }
        }

        .tm-timeline-entry {
            + .tm-timeline-entry{
                margin-top: $global-large-margin;
            }
            clear: both;
            text-align: left;
            position: relative;

            &:after {
                display: block;
                content: "";
                clear: both;
            }

            .tm-timeline-time {
                float: left;
                width: 30%;
                padding-right: $global-large-margin;
                text-align: right;
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    width: $timeline-dot-diameter;
                    height: $timeline-dot-diameter;
                    border: $timeline-border-width solid $safety-orange;
                    background-color: #fff;
                    border-radius: 100%;
                    top: 0;
                    right: - 14px;
                    z-index: 99;
                }

                h5 {
                    margin: 3px 0 0;
                }
            }

            .tm-timeline-body {
                float: right;
                width: 70%;
                padding-left: $global-large-margin;
                margin-top: -2px;
                h3 {
                    margin: 0 0 15px;
                    span {
                        padding: 1px 7px;
                    }
                }

            }
        }
    }

}


