<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.10.4"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>


<script>

// Instanciating InstantSearch.js with Algolia credentials
const search = instantsearch({
  appId: '{{ site.algolia.application_id }}',
  indexName: '{{ site.algolia.index_name }}',
  apiKey: '{{ site.algolia.search_only_api_key }}',
    searchFunction: function(helper) {
    var searchResults = $('.search-results');
    if (helper.state.query === '') {
      searchResults.hide();
      const title = document.querySelector('#search-hits');
      title.style.display = 'none';
      return;
    }
    helper.search();
    searchResults.show();
    const title = document.querySelector('#search-hits');
    title.style.display = 'block';
  }
});


const hitTemplate = function(hit) {

  let url = `{{ site.baseurl }}${hit.url}`;

  const title = hit._highlightResult.title.value;

   let breadcrumbs = '';
		if (hit._highlightResult.headings) {
			breadcrumbs = hit._highlightResult.headings.map(match => {
	    	return `<span class="post-breadcrumb">${match.value}</span>`
	    }).join(' > ')
	}

   let tags = '';
    if (hit._highlightResult.tags) {
      tags = hit._highlightResult.tags.map(match => {
        return `<span class="post-breadcrumb">${match.value}</span>`
      }).join(' / ')
  }

  const content = hit._highlightResult.html.value;
  const category = hit._highlightResult.category.value;

  return `
    <div class="post-item">

      <h3><a class="post-link" href="${url}">${category}: ${title}</a></h3>
      <b>Tags:</b> ${tags} <br>
      {{#breadcrumbs}}<a href="${url}" class="post-breadcrumbs">${breadcrumbs}</a>{{/breadcrumbs}}
      <div class="post-snippet">${content.replace(/<img.*>/, '')}</div>
    </div>
  `;
}

search.addWidget(
  instantsearch.widgets.searchBox({
    container: '#search-searchbar',
    placeholder: 'Search/ask anything',
    poweredBy: false
  })
);

search.addWidget(
  instantsearch.widgets.hits({
    container: '#search-hits',
    templates: {
      item: hitTemplate
    }
  })
);

search.start();

</script>
