<script type="text/javascript">
window.onscroll = function() { 
const footer = document.querySelector('footer');
const footerTop = footer.offsetTop;
const height = footerTop - pageYOffset - 130;
 if (window.innerHeight + window.pageYOffset >= document.body.offsetHeight - 200) {
  	document.getElementById("sidebar-docs").style.height=`${height}px`;
    if (document.getElementById("sidebar-toc").offsetHeight > 400) {
        document.getElementById("sidebar-toc").style.height=`${height + 15}px`;
        document.getElementById("sidebar-toc").style.overflow="scroll";  
    }
 }
 else {
 	document.getElementById("sidebar-docs").style.removeProperty('height');
    document.getElementById("sidebar-toc").style.removeProperty('height');
    document.getElementById("sidebar-docs").style.removeProperty('overflow');
 }
}
</script>