<div>
  <h5>How would you improve this page?</h5>
  <form id="contact-form" action="https://formkeep.com/f/90e16cbb8870" method="post">
    <textarea id="comment" name="Comment" placeholder="Comment" minlength="20" required="required" class="comment-box"></textarea>
    <input type="hidden" id="page" name="Page" value="{{ page.title }}">
    <input type="hidden" id="category" name="Category" value="{{ page.category }}">
    <br>
    <br>
    <input type="checkbox" id="participation" name="Participation"><label class="comment-disclaimer" for="checkbox">Contributors will be chosen randomly to receive rewards. Check this box to participate.</label>
    <br>
    <div id="submit">
      <input type="submit" value="Submit" class="uk-button uk-button-primary uk-button-default uk-button-small uk-margin-small-top"/>
    </div>
</form>
</div>


<script type="text/javascript">

document.getElementById("participation").addEventListener('change', function() {
  if (this.checked) {
    var submit = document.getElementById('submit');
    var input = document.createElement("input");
                input.type = "text";
                input.name = "Mail";
                input.id = "mail";
                input.placeholder="Please enter your email";
                input.required = "required";
    submit.parentNode.insertBefore(input, submit);
  } else {
    var mailInput = document.getElementById('mail');
    mailInput.remove();
  }
});

  document.getElementById("contact-form").addEventListener("submit", function(e){
    e.preventDefault();

    var form = document.getElementById('contact-form');
    form.style.display = 'none';
    var processing = document.createElement('span');
    processing.appendChild(document.createTextNode('Thank you for your contribution!'));
    form.parentNode.insertBefore(processing, form);

    if (document.getElementById("mail")){
      var mail = document.getElementById("mail").value;
    } else {
      var mail = "none@gmail.com";
    }

    fetch('https://formkeep.com/f/90e16cbb8870', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json', 'Accept': 'application/json' },
        body: JSON.stringify({ "Comment": document.getElementById("comment").value, "Page": document.getElementById("page").value, "Category": document.getElementById("category").value, "Mail": mail, "Participation": document.getElementById("participation").checked })
    })
  });
  
</script>
