<div>
  <h5>How would you improve this page for developers?</h5>
  <form id="contact-form" action="https://formkeep.com/f/90e16cbb8870" method="post">
    <textarea id="comment" name="Comment" placeholder="Comment" minlength="20" required="required" class="comment-box"></textarea>
    <input type="hidden" id="page" name="Page" value="{{ page.title }}">
    <input type="hidden" id="category" name="Category" value="{{ page.category }}">
    <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
    <br>
    <input type="checkbox" id="dev" name="Developer"><label class="comment-disclaimer" for="checkbox">I am a developer.</label>
    <br>
    <input type="checkbox" id="participation" name="Participation"><label class="comment-disclaimer" for="checkbox">Contributors will be chosen randomly to receive rewards. Check this box to send your email and participate.</label>
    <br>
    <div class="legal-notice">
      Ledger collects your email address to send you rewards for your contribution to improve the Developer Portal documentation.
      <a class="" data-toggle="collapse" href="#legalNotice" role="button" aria-expanded="false" aria-controls="legalNotice">
        Learn more about how we manage your data and your rights.
      </a>
      <div class="collapse" id="legalNotice">
        <br>
        By providing your email address, you consent that Ledger may contact you for rewards delivery purposes. If you are part of the randomly selected contributors, we will send you an email to ask for your physical address and if necessary, ask you for additional information on the suggestion you made. 
        Your information will only be available to Ledger and will be retained for no longer than 90 days. It may be transferred to non-European countries that ensure an adequate level of protection or under the <a href="https://ec.europa.eu/info/law/law-topic/data-protection/international-dimension-data-protection/standard-contractual-clauses-scc_en">standard contractual clauses</a> adopted by the EU Commission. <br><br>
        Please note that you may withdraw your consent at any time, access your data and request their rectification or deletion. You may also request the limitation of the processing of your data. To exercise your rights or for any question on the processing of your data, please contact LEDGER’s Data Protection Officer <a href="https://privacy-request.ledger.com/">here</a>. If nevertheless you believe LEDGER did not adequately address your concerns and mishandled your data, you may lodge a complaint with the personal data protection authority of your country.
      </div>
    </div>
    <div id="submit">
      <input type="submit" value="Submit" class="uk-button uk-button-default uk-button-default uk-button-small uk-margin-small-top"/>
    </div>
</form>
</div>


<script type="text/javascript">

document.getElementById("participation").addEventListener('change', function() {
  if (this.checked) {
    var submit = document.getElementById('submit');
    var input = document.createElement("input");
                input.type = "text";
                input.name = "Mail";
                input.id = "mail";
                input.placeholder="Please enter your email";
                input.required = "required";
    submit.parentNode.insertBefore(input, submit);
  } else {
    var mailInput = document.getElementById('mail');
    mailInput.remove();
  }
});

  document.getElementById("contact-form").addEventListener("submit", function(e){
    e.preventDefault();

    var form = document.getElementById('contact-form');
    form.style.display = 'none';
    var processing = document.createElement('span');
    processing.appendChild(document.createTextNode('Thank you for your contribution!'));
    form.parentNode.insertBefore(processing, form);

    if (document.getElementById("mail")){
      var mail = document.getElementById("mail").value;
    } else {
      var mail = "none@gmail.com";
    }

    fetch('https://formkeep.com/f/90e16cbb8870', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json', 'Accept': 'application/json' },
        body: JSON.stringify({ "g-recaptcha-response": document.getElementById("g-recaptcha-response").value, "Comment": document.getElementById("comment").value, "Page": document.getElementById("page").value, "Category": document.getElementById("category").value, "Mail": mail, "Participation": document.getElementById("participation").checked, "Developer": document.getElementById("dev").checked })
    })
  });
  
</script>
