{% if include.button_url contains 'http' %}
    {% assign domain = '' %}
{% else %}
    {% assign domain = '' | relative_url %}
{% endif %}

<!-- Removed this part in favor of the two boxes below
{% if include.button_url %}
<div class="uk-section uk-text-center{% if include.background %} uk-section-{{include.background}}{% endif %}">
    <div class="uk-container uk-container-small">
        <div data-uk-scrollspy="cls: uk-animation-slide-bottom-medium; repeat: true">
            {% if include.title %}<h2 class="uk-h1 uk-margin-bottom">{{ include.title }}</h2>{% endif %}
            {% if include.subtitle %}<p class="uk-text-lead uk-text-center">{{ include.subtitle | escape }}</p>{% endif %}
            <a class="uk-button uk-button-primary uk-button-large uk-margin-medium-top" href="{{ domain }}{{ include.button_url }}">{{ include.button_text }}</a>
        </div>
    </div>
</div>
{% endif %}
-->

{% if include.button_url %}
<div class="uk-section">
  <div class="uk-container uk-container-xsmall">
    {% if include.title %}
      <h2 class="uk-h1 uk-text-center">{{ include.title }}</h2>
    {% endif %}
    {% if include.subtitle %}<p class="uk-text-lead uk-text-center">{{ include.subtitle | escape }}</p>{% endif %}
      <div class="uk-child-width-1-2@m uk-grid-match uk-text-center uk-margin-medium-top" data-uk-grid >
        <div>
          <div class="uk-card uk-card-default uk-box-shadow-medium uk-card-hover uk-card-body uk-inline border-radius-large border-xlight" >
            <h3 class="uk-card-title uk-margin">You're already signed up</h3>
            <p>Introduce yourself on the <b>#introductions</b> channel and get help in the <b>#support</b> and <b>#ledgerjs</b> channels</p>
          </div>
        </div>
        <div>
          <div class="uk-card uk-card-default uk-box-shadow-medium uk-card-hover uk-card-body uk-inline border-radius-large border-xlight" >
            <h3 class="uk-card-title uk-margin">You want to join the workspace</h3>
            <a class="uk-button uk-button-primary uk-button-large uk-margin-medium-top" href="{{ domain }}{{ include.button_url }}">{{ include.button_text }}</a>
          </div>
        </div>
      </div>
  </div>
</div>
{% endif %}
