<div class="uk-section">
  <div class="uk-container uk-container-xsmall">
    {% if include.title %}
      <h2 class="uk-h1 uk-text-center">{{ include.title }}</h2>
    {% endif %}
    {% if include.subtitle %}<p class="uk-text-lead uk-text-center">{{ include.subtitle | escape }}</p>{% endif %}
      <div class="uk-child-width-1@m uk-grid-match uk-text-center uk-margin-medium-top quick-links" data-uk-grid >
      	<ul>
			     {% for item in site.data.links %} 
				  <li>{% if item.section %}{{ item.section}} > {% endif %}<a href="{{item.url}}">{{item.title}}</a></li>
			     {% endfor %}
        </ul>
      </div>
  </div>
</div>