---
layout: default
---

{% assign url = page.url | split: "/" %}
{% assign category = url[2] %}
{% assign sub_category = url[3] %}

{% if category == "nano-app" %}
  {% assign docs = site.data.navigation_docs_na %}
{% elsif category == "coin"  %}
  {% assign docs = site.data.navigation_docs_ci %}
{% elsif category == "speculos"  %}
  {% assign docs = site.data.navigation_docs_sp %}
{% elsif category == "token"  %}
  {% assign docs = site.data.navigation_docs_et %}
{% elsif category == "transport"  %}
  {% assign docs = site.data.navigation_docs_tr %}
{% elsif category == "dapp"  %}
  {% assign docs = site.data.navigation_docs_da %}
{% elsif category == "non-dapp"  %}
  {% assign docs = site.data.navigation_docs_pa %}
{% elsif category == "swap"  %}
  {% assign docs = site.data.navigation_docs_sw %}
{% elsif category == "developer-mode"  %}
  {% assign docs = site.data.navigation_docs_dm %}
{% elsif category == "live-app"  %}
  {% assign docs = site.data.navigation_docs_la %}
{% endif %}

<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid-medium" data-uk-grid>
            <div class="sidebar-fixed-width uk-visible@l">
                <div id="sidebar-docs" class="sidebar-docs uk-position-fixed uk-margin-top">
                    {% if category == "nano-app" and sub_category == "crypto-api" %}
                      <a class="uk-button uk-button-default uk-button-small uk-margin-medium-top" href="../../start-here">Back to the Nano App intro</a>                    
                    {% elsif category == "nano-app"  %}
                      <a class="uk-button uk-button-default uk-button-small uk-margin-medium-top" href="../start-here">Back to the Nano App intro</a>
                    {% endif %}
                    {% for section in docs %}
                      <h5>{{ section.title }}</h5>
                        <ul class="uk-nav uk-nav-default doc-nav">
                        {% for doc in section.docs %}
                          {% if doc.subfolderitems%}
                            {% for section in doc.subfolderitems %}
                              <li>{{ section.title }}</li>
                              <ul class="uk-nav uk-nav-default doc-nav">
                                      {% for doc in section.docs %}
                                      {% assign doc_url = doc | prepend:"/docs/" | append:"/" %}
                                      {% assign p = site.docs | where:"url", doc_url | first %}
                                      <li class="{% if doc_url == page.url %}uk-active{% endif %}"><a href="{{ p.url | relative_url }}">{{ p.title }}</a></li>
                                      {% endfor %}
                              </ul>
                            {% endfor %}
                          {% else %}
                            {% assign doc_url = doc | prepend:"/docs/" | append:"/" %}
                            {% assign p = site.docs | where:"url", doc_url | first %}
                            <li class="{% if doc_url == page.url %}uk-active{% endif %}"><a href="{{ p.url | relative_url }}">{{ p.title }}</a></li>
                          {% endif %}
                        {% endfor %}
                        </ul>
                        {% if section.subfolderitems %}
                          <ul class="uk-nav uk-nav-default doc-nav">
                            {% for entry in section.subfolderitems %}
                            <li>{{entry.title}}</li>
                              <ul class="uk-nav uk-nav-default doc-nav">
                                {% for doc in entry.docs %}
                                  {% assign doc_url = doc | prepend:"/docs/" | append:"/" %}
                                  {% assign p = site.docs | where:"url", doc_url | first %}
                                  {% if p.title %}
                                      <li class="{% if doc_url == page.url %}uk-active{% endif %}"><a href="{{ p.url | relative_url }}">{{ p.title }}</a></li>
                                  {% else %}
                                      {% for section in doc.subfolderitems %}
                                          <li>{{ section.title }}</li>
                                          <ul class="uk-nav uk-nav-default doc-nav">
                                                  {% for doc in section.docs %}
                                                  {% assign doc_url = doc | prepend:"/docs/" | append:"/" %}
                                                  {% assign p = site.docs | where:"url", doc_url | first %}
                                                  <li class="{% if doc_url == page.url %}uk-active{% endif %}"><a href="{{ p.url | relative_url }}">{{ p.title }}</a></li>
                                                  {% endfor %}
                                          </ul>
                                      {% endfor %}
                                  {% endif %}
                                {% endfor %}
                              </ul>
                            {% endfor %}
                          </ul>
                        {% endif %}
                      {% endfor %}
                    {% if category == "live-app" %}
                      <a class="uk-button uk-button-default uk-button-small uk-margin-medium-top" href="../../dapp/process/">DApp</a>
                      <a class="uk-button uk-button-default uk-button-small uk-margin-medium-top" href="../../non-dapp/introduction">Non-DApp</a>
                    {% endif %}
                    {% if category == "dapp" or category == "non-dapp" %}
                      <a class="uk-button uk-button-default uk-button-small uk-margin-medium-top" style="margin-bottom:20px;" href="https://developers.ledger.com/docs/live-app/start-here/">Back to the Live App intro</a>
                    {% endif %}
                </div>
            </div>

            <div class="uk-width-1-1 uk-width-expand@m">

                <article class="uk-article">

                    <h1 class="uk-article-title">{{ page.title | escape }}</h1>

                    {% if page.subtitle %}<p class="uk-text-lead uk-text-muted">{{ page.subtitle }}</p>{% endif %}
                    <div class="article-content link-primary">

                    {% if sub_category != "crypto-api" %}
                      {% include reading-time.html %}
                    {% endif %}


                      {% if page.toc %}
                      <div class="uk-width-medium uk-nav-default link-primary uk-hidden@m mobile-sections">
                        <h5>Sections in this page</h5>
                        <div class="content-toc">
                          {% include toc.html html=content %}
                        </div>
                      </div>
                      {% endif %}

                        {{ content }}
                        {% if site.share.doc %}
                            <!-- FC
                            {% include share.html %}
                            -->
                        {% endif %}
                    </div>

                    {% include hook-post-content-doc.html %}

                    <hr class="uk-margin-medium">

                    <div>
                      <h5>Did you find this page helpful?</h5>
                        <!-- LikeBtn.com BEGIN -->
                        <span class="likebtn-wrapper" data-theme="youtube" data-white_label="true" data-show_like_label="false" data-icon_like_show="false" data-icon_dislike_show="false" data-popup_disabled="true" data-share_enabled="false" data-tooltip_enabled="false"></span>
                        <script>(function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");</script>
                        <!-- LikeBtn.com END -->
                    </div>
                    <br>

                    <br>


                    {% include comments.html %}

                    {% include paginate-doc.html %}

                    <!-- {% include related-docs.html %} -->

                    {% if site.disqus.shortname %}
                        {% include disqus_comments.html %}
                    {% endif %}
                </article>

                <script>
                    // Table of contents scroll to
                    UIkit.scroll('#markdown-toc a', {
                        duration: 400,
                        offset: 120
                    });
                </script>

            </div>
            {% if page.toc %}
            <div class="uk-width-medium uk-nav-default link-primary uk-visible@m">
              <div id="sidebar-toc" class="sidebar-toc sidebar-sticky">
                <h5>Sections in this page</h5>
                {% include toc.html html=content %}
              </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% include footer.html %}

<!-- JS for anchor links -->
{% include anchor_support.html %}
<!-- JS right side bar following scroll -->
{% include scroll.html %}
<!-- JS for side bar not overlapping footer -->
{% include bottom-page.html %}
<!-- JS for copy code button -->
{% include copy-code.html %}
<!-- JS to zoom on images -->
{% include zoom.html %}



