---
layout: default
---

{% if page.width == 'expand' %}
    {{ content }}
{% else %}
<div class="uk-section">
    <div class="uk-container{% if page.width %} uk-container-{{page.width}}{% endif %}">

        <article class="uk-article">

            <h1 class="uk-article-title">{% if page.notifier %}<img src="/uploads//images/notifier.png" style="width:80px;">{% endif %}  {{ page.title | escape }}</h1> 
            {% if page.icon %}
                <span data-uk-icon="icon: {{page.icon}}; ratio: 2.2" class=""></span>
            {% endif %}

            <div class="article-content link-primary">
                {{ content }}
            </div>

        </article>

    </div>
</div>
{% endif %}